
.icon-search:before { content: '\e800'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e801'; } /* '' */
.icon-chart-outline:before { content: '\e802'; } /* '' */
.icon-location-outline:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-gmail:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
